@use "base/variables" as v;
@use "base/mixins" as m;

.enlaces {

    width: 100%;

    @include m.tablet {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    a {
        display: block;
        color: white;
        font-size: 2rem;
        margin-top: calc(v.$separacion/2);
        text-align: center;
        &:hover{
            cursor: pointer;
        }
    }
}